{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reader/base-styles.css' %}" />

    <title >Reader</title>
</head>

<body>
    <h1 class="page_title">Reader</h1>
    <!-- main navigation -->
    <header>
        {% block header %}
        <p class="header_txt">
            <a href="{% url 'books:index' %}" class="header_txt"> Publications</a> |

            <a href="{% url 'info:index' %}" class="header_txt"> About</a> |

        {% if authenticated %}
            {{ author }} (<a href="{% url 'signup:logout' %}" class="header_txt">logout</a>)

        {% else %}
            <a href="{% url 'signup:login' %}" class="header_txt button">login</a>
        {% endif %}
        </p>
        {% endblock %}
    </header>
    <!-- local navigation -->
    {% block nav %}
    <nav>
        <p>
            <a href="{% url 'reader:index' %}">home</a> |
            <a href="{% url 'reader:overview' %}">overview</a>
            {% if authenticated %}
            | <a href="{% url 'reader:add' %}" class="button">add an entry</a>
            {% endif %}
        </p>
    </nav>
    {% endblock %}

    <!-- page begins -->
    <div id="page">

        {% block page %}
        <!-- content -->
        {% endblock %}

    </div><!-- page ends -->
</body>
</html>
