{% extends "global_base.html" %}

{% load humanize %}

                {%  block heading %}Reader{% endblock %}
                {% block subheading %}Recent Entries{% endblock%}

                {% block page %}
                <!-- Recent Reader Entries -->

                {% if recent_entries %}
                {% for entry in recent_entries %}
                <a href="{% url 'reader:details' entry.id %}" >{{ entry.reader_title }}</a>

                <p class="lead">by: {{ entry.reader_author }}</p>

                <p><span class="glyphicon glyphicon-time"></span> Posted: {{ entry.reader_date|naturalday}}</p>

                <hr>

                <p>{{ entry.reader_entry }}</p>
                {% endfor %}

                {% else %}
                <p>There are no entries.</p>
                {% endif %}

                {% endblock %}