{% extends "reader/base.html" %}

{% load humanize %}

{% block title %}Home{% endblock %}

{% block page %}
    <!-- Recent Reader Entries -->
    <h1>Recent Entries</h1>
    {% if recent_entries %}
        <ul>
        {% for entry in recent_entries %}
            <li>{{ entry.reader_date|naturalday}} | author:
                {{ entry.reader_author }}</li>
            <li class="reader_title"><a href="{% url 'reader:details' entry.id %}" >{{ entry.reader_title }}</a></li>
            <li>{{ entry.reader_entry }}</li>
            <li class="reader_entry"></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no entries.</p>
    {% endif %}
{% endblock %}
