{% extends "reader/base.html" %}

{% load humanize %}

{% block title %}Overview{% endblock %}

{% block page %}
    <!-- All of the reader entries -->
    <h1>Reader Overview</h1>

    {% if all_items %}
        <!-- Render all of the titles from the table -->
        <table>
            {% for item in all_items %}
            <tr>
                <td class="reader_id">{{ item.id }}</td>
                <td class="v_rule">&ensp;</td>
                <td class="reader_item">
                    {{ item.reader_date|naturalday }} |
                    {{ item.reader_author }}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="v_rule">&ensp;</td>
                <td class="reader_item">
                    <strong>{{ item.reader_title }}</strong>
                    <br>
                    {{ item.reader_entry }}
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no entries.</p>
    {% endif %}
{% endblock %}
