{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
        href="{% static 'books/base-styles.css' %}" />

    <title >Publications</title>
</head>

<body>
    <h1 class="page_title">Publications</h1>
    <!-- main navigation -->
    <header>
        {% block header %}
        <p class="header_txt">
            <a href="{% url 'reader:index' %}" class="header_txt">Reader</a> |

            <a href="{% url 'info:index' %}" class="header_txt"> About</a> |

        {% if authenticated %}
            {{ author }} (<a href="{% url 'signup:logout' %}" class="header_txt">logout</a>)

        {% else %}
            <a href="{% url 'signup:login' %}" class="header_txt button">login</a>
        {% endif %}
        </p>
        {% endblock %}
    </header>
    <!-- local navigation -->
    {% block nav %}
    <nav>
        <p>
            <a href="{% url 'books:index' %}">home</a>
            &nbsp;|&nbsp;
            <a href="{% url 'books:overview' %}">overview</a>
            {% if authenticated %}
            | <a href="{% url 'books:add' %}" class="button">add a publication</a>
            {% endif %}
        </p>
    </nav>
    {% endblock %}

    <!-- page begins -->
    <div id="page">

        {% block page %}
        <!-- content -->
        {% endblock %}

    </div><!-- page ends -->
    <!-- footer begins -->
    <footer>
        {% block footer %}
        <!-- auto date to be added -->
        {% endblock %}
    </footer><!-- footer ends -->
</body>
</html>
