{% extends "books/base.html" %}

{% block title %}Edit{% endblock %}

{% block page %}
    <!--// Details from the publication //-->
    <h1>Edit:</h1>
    <h2>{{ object.title }}</h2>

    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <!--// update //-->
        <div>
            <input type="submit" value="update" /><br>
            <!--// cancel //-->
            <a href="{% url 'books:overview' %}">
            <input type="button" value="cancel" /><a><br>
            <!--// delete //-->
            <a href="{% url 'books:delete' object.pk %}">
            <input type="button" value="delete" /></a>
        </div>
    </form>
{% endblock %}
