{% extends "books/base.html" %}

{% block title %}Delete{% endblock %}

{% block nav %}
<nav>
    <p>
        <a href="{% url 'books:index' %}">home</a>
        &nbsp;|&nbsp;
        <a href="{% url 'books:overview' %}">overview</a>
    </p>
</nav>
{% endblock %}

{% block page %}
    <!-- Details from the publication -->
    <h1>Delete:</h1>
    <h2>{{ pub.title }}</h2>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete <strong>{{ pub.title }}</strong>?</p>
        <!-- confirm -->
        <input type="submit" value="confirm" /><br>
        <!-- cancel -->
        <a href="{% url 'books:overview' %}">
        <input type="button" value="cancel" /><a>
    </form>
{% endblock %}
