{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'info/base-styles.css' %}" />

    <title >Collections</title>
</head>

<body>
    <h1 class="page_title">Collections</h1>
    <!-- main navigation -->
    <header>
        {% block header %}
        <p class="header_txt">
            <a href="{% url 'books:index' %}" class="header_txt"> Publications</a> |

            <a href="{% url 'info:about' %}" class="header_txt"> About</a>
        </p>
        {% endblock %}
    </header>

    <!-- page begins -->
    <div id="page">

        {% block page %}
        <!-- content -->
        {% endblock %}

    </div><!-- page ends -->
</body>
</html>
