{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'info/base-styles.css' %}" />

    <style type="text/css">

        .page_title {
            background-color: #009933;
            padding: 5px 0 5px 9px;
            color: #fff;
            border-radius: 3px;
        }

    </style>

    <title >Login</title>
</head>

<body>
    <h1 class="page_title">Login</h1>
    <!-- main navigation -->
    <header>
        <p class="header_txt">
        <a href="{% url 'info:about' %}"
            class="header_txt">
            About</a>
        </p>
        <!-- FPO -->
        <p>New users <a href="{% url 'signup:signup' %}">signup</a>.</p>
        <!-- FPO -->
    </header>

    <!-- page begins -->
    <div id="page">
        <!-- the login form -->
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label>Username&nbsp;&nbsp;</label></td>
                    <td>
                        <input type="text" name="username" value="{{ username }}">
                    </td>
                </tr>

                <tr>
                    <td><label>Password&nbsp;&nbsp;</label></td>
                    <td>
                        <input type="password" name="password" value="{{ password }}">
                        <p>{{ has_warning }}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="submit"></td>
                </tr>
            </table>
        </form><!-- login form ends -->
    </div><!-- page ends -->
</body>
</html>
