{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
        href="{% static 'info/base-styles.css' %}" />

    <title >Signup</title>
</head>

<body>
    <h1 class="page_title">Signup</h1>
    <!-- main navigation -->
    <header>
        <p class="header_txt">
<!-- TODO: this will have a link for login for returning users-->
         <!-- Apps:
        <a href="{% url 'books:index' %}" class="header_txt">
            Publications</a> |
        <a href="{% url 'reader:index' %}" class="header_txt">
            Reader</a> |
            About -->
        </p>
    </header>

    <!-- page begins -->
    <div id="page">
        <p>The signup form will exists here</p>

    </div><!-- page ends -->
</body>
</html>
