/* Base styles */

body {margin: 10px 11px 25px 11px;}

#page, nav, header {
    margin-left: 7px;
    max-width: 500px;
    }

li, a, h1, h2, p, label, input, td {
    font: 14px/22px courier, sans-serif;
    color: #555;
    text-decoration: none;
}

.header_txt, .footer_txt {
    font: 11px/15px courier, sans-serif;
    color: #888;
}

table, tr, td {
    vertical-align: top;
    border-collapse: collapse;
    border: 0;
    padding: 0;
    margin: 0;
}

td.pub_id {text-align: right;}

td.v_rule {border-right: solid 1px #555;}

td.pub_item {padding-left: 8px;}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

input {
    margin-left: -2px;
    color: #555;
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    padding-left: 3px;
    width: 220px;
    vertical-align: middle;
}

option {
    background-color: #555;
    color: #fff;
}

.page_title {
    background-color: #3366cc;
    padding: 5px 0 5px 9px;
    color: #fff;
    border-radius: 3px;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

ul {list-style: none;}

li.reader_entry {
    padding-bottom: 6px;
    margin-bottom: 25px;
    border-bottom: dotted 1px #555;
}

li.reader_title {
    font-size: 15px;
    font-weight: bold;
}

div { margin-bottom: 15px;}

.button {
    background-color: #3366cc;
    border-radius: 3px;
    color: #fff;
    display: inline;
    padding: 5px 8px 5px 8px;
}

.button a,
.button a:hover {
    color: #fff;
}
