{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
        href="{% static 'info/base-styles.css' %}" />

    <title >{% block title %}Info{% endblock %}</title>
</head>

<body>
    <h1 class="page_title">{% block mast %}Info{% endblock %}</h1>
    <!--// main navigation //-->
    <header>
        {% block header %}
            <p class="header_txt">
            Apps:
            <a href="{% url 'books:index' %}" class="header_txt">
                Publications</a> |
            <a href="{% url 'reader:index' %}" class="header_txt">
                Reader</a> |
                About
            </p>
        {% endblock %}
    </header>
    <!--// local navigation //-->
    <nav>
        <p>
        </p>
    </nav>

    <!--// page begins //-->
    <div id="page">

        {% block page %}
        <!--// content //-->
        {% endblock %}

    </div><!--// page ends //-->
</body>
</html>
