{% load staticfiles %}

{% block local_css %}
<link rel="stylesheet" type="text/css"
    href="{% static 'info/base-styles.css' %}" />
{% endblock %}

<title>Info</title>

<body>
    <h1 class="page_title">{% block mast %}Info{% endblock %}</h1>
    <!-- main navigation -->
    <header>
        {% block header %}
        <p class="header_txt">
            <a href="{% url 'books:index' %}" class="header_txt"> Publications</a> |

            <a href="{% url 'reader:index' %}" class="header_txt">Reader</a> |

        {% if authenticated %}
            {{ author }} (<a href="{% url 'signup:logout' %}" class="header_txt">logout</a>)

        {% else %}
            <a href="{% url 'signup:login' %}" class="header_txt button">login</a>
        {% endif %}
        </p>
        {% endblock %}
    </header>
    <!-- local navigation -->
    <nav>
        <p>
        </p>
    </nav>

    <!-- page begins -->
    <div id="page">

        {% block page %}
        <!-- content -->
        {% endblock %}

    </div><!-- page ends -->
</body>
</html>
