{% extends "info/base.html" %}

{% block title %}About{% endblock %}

{% block mast %}About{% endblock %}

{% block page %}
    <!-- About -->
    <h1>Collections</h1>

    <p>Here are a few Django-powered apps that track inventory and keep notes. They are:</p>

    <h2>Apps</h2>
    <ul>
        <li><u>Publications</u>
            <p>Add, delete, and modify publication entries, such as books.</p>
            <ul>
                <li><strong>home</strong> displays the most recent
                    entries (5).</li>
                <li><strong>overview</strong> displays every entry.</li>
            </ul>
        </li>
        <li><u>Reader</u>
            <p>Add, delete, and modify journal entries.</p>
            <ul>
                <li><strong>home</strong> displays the most recent
                    entries (5).</li>
                <li><strong>overview</strong> displays a capsule
                    version of every entry.</li>
            </ul>
        </li>
    </ul>
{% endblock %}
